.header {
	height: 50px;
	width: 100%;
	display: flex;
	gap: 20px;
	padding: 10px 20px;
	background-color: #32cd32;
}

.item {
	font-size: 20px;
	font-weight: 500;
	padding: 0 10px;
}

.active {
	color: #fff;
	border-bottom: 2px solid #fff;
	font-weight: 600;
}

.item:hover {
	color: #fff;
}
